@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Great Vibes';
  src: url('./fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gabriela';
  src: url('./fonts/Gabriela/Gabriela-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.nav {
  background: linear-gradient(90.16deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  box-shadow: 0px 4px 10px 0px #6e5f5f05;
}

.navDark{
  background: linear-gradient(90.16deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.611) 100%);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.logo-image {
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}